<template>
    <div class="actions-panel">
        <div class="actions-panel__icon" @click="goBack">
            <svg viewBox="0 0 306 306">
                <polygon points="247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153 		"/>
            </svg>
        </div>

        <div class="actions-panel__icon" @click="switchUploadWindow">
            <svg viewBox="0 0 433.5 433.5">
                <polygon
                        points="140.25,331.5 293.25,331.5 293.25,178.5 395.25,178.5 216.75,0 38.25,178.5 140.25,178.5 		"/>
                <rect x="38.25" y="382.5" width="357" height="51"/>
            </svg>
            <span>Upload file</span>
        </div>
        <div class="actions-panel__icon" @click="switchNewFile">
            <svg viewBox="0 0 357 357">
                <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"/>
            </svg>
            <span>Create file</span>
        </div>
        <div class="actions-panel__icon" @click="switchNewFolder">
            <svg viewBox="0 0 357 357">
                <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"/>
            </svg>
            <span>Create folder</span>
        </div>
        <div class="actions-panel__icon" @click="switchNodesList">
            <span style="font-weight: bold">{{nodesNumber}}</span>
            <span> nodes</span>
        </div>
        <div class="actions-panel__icon" @click="flush">
            <span style="font-weight: bold">/F</span>
            <span> (flush)</span>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: "ActionsPanel",
        methods: {
            ...mapActions(['switchUploadWindow', 'switchNewFile', 'switchNewFolder', 'goBack', 'switchNodesList', 'flush'])
        },
        computed: {
            ...mapGetters(['nodesNumber'])
        }
    }
</script>

<style scoped>

</style>
