<template>
    <div class="uploadfile-window">
        <div class="uploadfile-window__header">File are inside. <br>Are you sure?</div>
        <div class="uploadfile-window__cross" @click="switchDelete">
            <svg viewBox="0 0 357 357">
                <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3
			214.2,178.5 		"/>
            </svg>
        </div>
        <div class="uploadfile-window__upload-btn" style="margin-top: 40px;" @click="deleteConfirmed">Yes</div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        name: "DeleteFileComponent",
        methods: {
            ...mapActions(['deleteConfirmed', 'switchDelete']),
        }
    }
</script>

<style scoped>

</style>
