<template>
    <div class="fileActions">
        <div class="fileActions__row" @click.stop="setMoveFilename">
            Move
        </div>
        <div class="fileActions__row" @click.stop="setCopyFilename">
            Copy
        </div>
        <div class="fileActions__row" @click.stop="showInfo">
            Get info
        </div>
        <div class="fileActions__row fileActions__row-red" @click.stop="deleteData">
            Delete
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'
    export default {
        name: "FileActions",
        props: ['filename'],
        methods: {
            ...mapActions(['getFileInfo', 'switchFileInfo', 'setFile', "switchMove", 'delete', 'switchCopy']),
            showInfo() {
                this.$emit('close')
                this.getFileInfo(this.filename).then(() => this.switchFileInfo())
            },
            setMoveFilename() {
                this.$emit('close')
                this.setFile(this.filename)
                this.switchMove()
            },
            setCopyFilename() {
                this.$emit('close')
                this.setFile(this.filename)
                this.switchCopy()
            },
            deleteData() {
                this.$emit('close')
                this.setFile(this.filename)
                this.delete()
            }

        }
    }
</script>

<style scoped>

</style>
