<template>
    <div class="uploadfile-window">
        <div class="uploadfile-window__header">Info</div>
        <div class="uploadfile-window__cross" @click="switchFileInfo">
            <svg viewBox="0 0 357 357">
                <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3
			214.2,178.5 		"/>
            </svg>
        </div>
        <div style="margin-top: 20px;">
            <div v-for="(value, key) in fileInfo" class="files-list">
                <span>{{key.replace("_", " ")}} : {{value}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        name: "FileInfoComponent",
        data() {
            return {
                files: []
            }
        },
        computed: {
            ...mapState(['fileInfo'])
        },
        methods: {
            ...mapActions(['switchFileInfo'])
        }
    }
</script>

<style scoped>

</style>
