<template>
    <div class="file-path">
        <input type="text" disabled v-model="fsPath" placeholder="System path">
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'
    export default {
        name: "FilePath",
        methods: {
            ...mapActions(['setPath'])
        },
        computed: {
            ...mapState(['path']),
            fsPath: {
                get() {
                    return this.path
                },
                set(val) {
                    this.setPath(val)
                }
            }
        }
    }
</script>

<style scoped>

</style>
