<template>
    <div class="uploadfile-window">
        <div class="uploadfile-window__header">Create new folder</div>
        <div class="uploadfile-window__cross" @click="switchNewFolder">
            <svg viewBox="0 0 357 357">
                <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3
			214.2,178.5 		"/>
            </svg>
        </div>
        <input class="uploadfile-window__input" placeholder="Enter folder name" type="text" v-model="filename"/>
        <div class="uploadfile-window__upload-btn" @click="createFolder(filename)">CREATE</div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        name: "NewFolderComponent",
        data() {
            return {
                filename: ""
            }
        },
        methods: {
            ...mapActions(['switchNewFolder', 'createFolder'])
        }

    }
</script>

<style scoped>

</style>
