<template>
    <div class="uploadfile-window">
        <div class="uploadfile-window__header">Drag your files here</div>
        <div class="uploadfile-window__cross" @click="switchUploadWindow">
            <svg viewBox="0 0 357 357">
                <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3
			214.2,178.5 		"/>
            </svg>
        </div>
        <div class="uploadfile-window__dropzone" :class="{'uploadfile-window__dropzone-noborder': files.length > 0}"
             ref="fileform">
            <svg viewBox="0 0 294.156 294.156" v-if="files.length === 0">
                <path d="M227.002,108.256c-2.755-41.751-37.6-74.878-80.036-74.878c-42.447,0-77.298,33.141-80.038,74.907
		C28.978,113.059,0,145.39,0,184.184c0,42.234,34.36,76.595,76.595,76.595h116.483c3.313,0,6-2.687,6-6s-2.687-6-6-6H76.595
		C40.977,248.778,12,219.801,12,184.184c0-34.275,26.833-62.568,61.087-64.411c3.184-0.171,5.678-2.803,5.678-5.991
		c0-0.119-0.003-0.236-0.01-0.355c0.09-37.536,30.654-68.049,68.211-68.049c37.563,0,68.132,30.518,68.211,68.063
		c-0.005,0.116-0.009,0.238-0.009,0.329c0,3.196,2.505,5.831,5.696,5.992c34.37,1.741,61.292,30.038,61.292,64.421
		c0,19.526-8.698,37.801-23.864,50.138c-2.571,2.091-2.959,5.87-0.868,8.44c2.091,2.571,5.87,2.959,8.44,0.868
		c17.98-14.626,28.292-36.293,28.292-59.447C294.156,145.269,265.08,112.926,227.002,108.256z"/>
                <path d="M140.966,141.078v76.511c0,3.313,2.687,6,6,6s6-2.687,6-6v-76.511c0-3.313-2.687-6-6-6S140.966,137.765,140.966,141.078z"
                />
                <path d="M181.283,152.204c1.536,0,3.071-0.586,4.243-1.757c2.343-2.343,2.343-6.142,0-8.485l-34.317-34.317
		c-2.343-2.343-6.143-2.343-8.485,0l-34.317,34.317c-2.343,2.343-2.343,6.142,0,8.485c2.343,2.343,6.143,2.343,8.485,0
		l30.074-30.074l30.074,30.074C178.212,151.618,179.748,152.204,181.283,152.204z"/>
            </svg>
            <div v-for="(file, key) in files" class="files-list">
                <span>{{file.name}}</span>
            </div>
        </div>
        <div class="uploadfile-window__upload-btn" v-if="files.length > 0" @click="uploadFilesToServer(files)">UPLOAD</div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        name: "UploadFileComponent",
        data() {
            return {
                files: []
            }
        },
        mounted() {
            // Photos
            ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function (evt) {
                this.$refs.fileform.addEventListener(evt, function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                }.bind(this), false);
            }.bind(this));
            this.$refs.fileform.addEventListener('drop', function (e) {
                this.uploadFiles(e.dataTransfer.files)
            }.bind(this));
        },
        methods: {
            ...mapActions(['switchUploadWindow']),
            ...mapActions(['uploadFilesToServer']),
            uploadFiles(list) {
                for (let i = 0; i < list.length; i++) {
                    this.files.push(list[i]);
                }
            },

        }
    }
</script>

<style scoped>

</style>
