@import "assets/TTNorms/stylesheet.css";

.filewindow {
  margin: 5%;
  font-family: "TT Norms", sans-serif;

  &:last-child {
    border-bottom: 1px solid black;
  }
}


.file-path {
  margin-bottom: 40px;
  border: 1px solid black;
  padding: 10px;

  input {
    font-size: 15px;
    width: 100%;
    border: none;
    line-height: 16px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba(0, 0, 0, .5);
    }
  }
}

.file-row {
  cursor: pointer;
  justify-content: space-between;
  font-size: 20px;
  padding: 16px;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &:hover {
    background-color: #DBA6D1;
    color: white;
    fill: white;
  }

  svg {
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
  }

  &__more {
    position: relative;
  }
}

.fileActions {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  width: 100px;
  font-size: 12px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;

  &__row {
    padding: 10px;
    color: black;
    transition: all 0.3s;

    &:hover {
      background-color: #564787;
      color: white;
    }

    &-red {
      color: red;
    }
  }
}

.actions-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  &__icon {
    margin-left: 40px;
    border: 1px solid black;
    background-color: black;
    padding: 10px;
    transition: all .3s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:first-child {
      margin-left: 0;
    }

     &__loading {
      background-color: #e5e5e5;
      span {
        color: black !important;
      }
    }

    svg {
      height: 18px;
      fill: white;
    }

    span {
      margin-left: 10px;
      color: white;
    }

    &:hover {
      background-color: white;

      svg {
        fill: black;
      }

      span {
        color: black;
      }
    }
  }
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
}

.uploadfile-window {
  width: 50vw;
  height: 50vh;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  &__input {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid black;
    margin: 40px 0;

    &::placeholder {
      opacity: 0.5;
    }
  }

  &__upload-btn {
    border: 1px solid black;
    padding: 10px;
    width: 95%;
    text-align: center;
    cursor: pointer;
  }

  &__header {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: "TT Norms Bold", sans-serif;
    font-style: normal;
  }

  &__cross {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40px;
    right: 30px;
  }

  &__dropzone {
    margin-top: 30px;
    border: 5px dashed #564787;
    flex-grow: 1;
    position: relative;
    svg {
      height: 20vh;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      fill: #564787;
    }

    &-noborder {
      border-color: transparent;
    }
  }
}

.files-list {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
