@import "assets/TTNorms/stylesheet.css";
.filewindow {
  margin: 5%;
  font-family: "TT Norms", sans-serif;
}
.filewindow:last-child {
  border-bottom: 1px solid black;
}

.file-path {
  margin-bottom: 40px;
  border: 1px solid black;
  padding: 10px;
}
.file-path input {
  font-size: 15px;
  width: 100%;
  border: none;
  line-height: 16px;
}
.file-path input:focus {
  outline: none;
}
.file-path input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.file-row {
  cursor: pointer;
  justify-content: space-between;
  font-size: 20px;
  padding: 16px;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.file-row__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.file-row:hover {
  background-color: #DBA6D1;
  color: white;
  fill: white;
}
.file-row svg {
  height: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.file-row__more {
  position: relative;
}

.fileActions {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  width: 100px;
  font-size: 12px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.fileActions__row {
  padding: 10px;
  color: black;
  transition: all 0.3s;
}
.fileActions__row:hover {
  background-color: #564787;
  color: white;
}
.fileActions__row-red {
  color: red;
}

.actions-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.actions-panel__icon {
  margin-left: 40px;
  border: 1px solid black;
  background-color: black;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions-panel__icon:first-child {
  margin-left: 0;
}
.actions-panel__icon svg {
  height: 18px;
  fill: white;
}
.actions-panel__icon span {
  margin-left: 10px;
  color: white;
}
.actions-panel__icon:hover {
  background-color: white;
}
.actions-panel__icon:hover svg {
  fill: black;
}
.actions-panel__icon:hover span {
  color: black;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.uploadfile-window {
  width: 50vw;
  height: 50vh;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.uploadfile-window__input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid black;
  margin: 40px 0;
}
.uploadfile-window__input::placeholder {
  opacity: 0.5;
}
.uploadfile-window__upload-btn {
  border: 1px solid black;
  padding: 10px;
  width: 95%;
  text-align: center;
  cursor: pointer;
}
.uploadfile-window__header {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: "TT Norms Bold", sans-serif;
  font-style: normal;
}
.uploadfile-window__cross {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 40px;
  right: 30px;
}
.uploadfile-window__dropzone {
  margin-top: 30px;
  border: 5px dashed #564787;
  flex-grow: 1;
  position: relative;
}
.uploadfile-window__dropzone svg {
  height: 20vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #564787;
}
.uploadfile-window__dropzone-noborder {
  border-color: transparent;
}

.files-list {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
