<template>
    <div class="popup">
        <copy-component/>
    </div>
</template>

<script>
    import CopyComponent from "@/components/CopyComponent";
    export default {
        name: "CopyPopup",
        components: {CopyComponent,}
    }
</script>

<style scoped>

</style>
