<template>
    <div class="popup">
        <delete-file-component/>
    </div>
</template>

<script>
    import DeleteFileComponent from "@/components/DeleteFileComponent";
    export default {
        name: "DeletePopup",
        components: {DeleteFileComponent},
    }
</script>

<style scoped>

</style>
