<template>
    <div class="popup">
        <file-info-component/>
    </div>
</template>

<script>
    import UploadFileComponent from "@/components/UploadFileComponent";
    import FileInfoComponent from "@/components/FileInfoComponent";
    export default {
        name: "FileInfoPopup",
        components: {FileInfoComponent, UploadFileComponent}
    }
</script>

<style scoped>

</style>
