<template>
    <div class="filewindow">
        <file-path/>
        <actions-panel/>
        <upload-file-popup v-if="uploadFile"/>
        <new-file-popup v-if="newFile"/>
        <new-folder-popup v-if="newFolder"/>
        <new-nodes-popup v-if="nodesList"/>
        <file-info-popup v-if="fileInfoShow"/>
        <move-popup  v-if="moveFile"/>
        <delete-popup v-if="deleteShow"/>
        <copy-popup v-if="copyShow"/>
        <file-row v-for="directory in files.directories" :is-file="false" :path="directory">{{directory}}</file-row>
        <file-row v-for="directory in files.files" :is-file="true" :path="directory">{{directory}}</file-row>
    </div>
</template>

<script>
    import FileRow from "@/components/FileRow";
    import FilePath from "@/components/FilePath";
    import {mapActions, mapState} from 'vuex'
    import ActionsPanel from "@/components/ActionsPanel";
    import UploadFilePopup from "@/views/UploadFilePopup";
    import NewFilePopup from "@/views/NewFilePopup";
    import NewFolderPopup from "@/views/NewFolderPopup";
    import NewNodesPopup from "@/views/NewNodesPopup";
    import FileInfoPopup from "@/views/FileInfoPopup";
    import MovePopup from "@/views/MovePopup";
    import DeletePopup from "@/views/DeletePopup";
    import CopyComponent from "@/components/CopyComponent";
    import CopyPopup from "@/views/CopyPopup";
    export default {
        name: 'home',
        components: {
            CopyPopup,
            CopyComponent,
            DeletePopup,
            MovePopup,
            FileInfoPopup,
            NewNodesPopup,
            NewFolderPopup,
            NewFilePopup,
            UploadFilePopup,
            ActionsPanel,
            FilePath,
            FileRow,
        },
        methods: {
            ...mapActions(['getFiles', 'goBack'])
        },
        computed: {
            ...mapState(['files', 'uploadFile', 'newFile', 'newFolder', 'nodesList', 'fileInfoShow', 'moveFile', 'deleteShow', 'copyShow'])
        },
        mounted() {
            this.getFiles()
        }
    }
</script>
