<template>
    <div class="popup">
        <move-component/>
    </div>
</template>

<script>
    import MoveComponent from "@/components/MoveComponent";
    export default {
        name: "MovePopup",
        components: {MoveComponent,}
    }
</script>

<style scoped>

</style>
