<template>
    <div class="popup">
        <new-folder-component/>
    </div>
</template>

<script>
    import NewFolderComponent from "@/components/NewFolderComponent";
    export default {
        name: "NewFolderPopup",
        components: {NewFolderComponent}
    }
</script>

<style scoped>

</style>
