<template>
    <div class="popup">
        <new-file-component/>
    </div>
</template>

<script>
    import NewFileComponent from "@/components/NewFileComponent";
    export default {
        name: "NewFilePopup",
        components: {NewFileComponent,}
    }
</script>

<style scoped>

</style>
