<template>
    <div class="popup">
        <nodes-list-component/>
    </div>
</template>

<script>
    import NodesListComponent from "@/components/NodesListComponent";
    export default {
        name: "NewNodesPopup",
        components: {NodesListComponent,}
    }
</script>

<style scoped>

</style>
