<template>
    <div class="popup">
        <upload-file-component/>
    </div>
</template>

<script>
    import UploadFileComponent from "@/components/UploadFileComponent";
    export default {
        name: "UploadFilePopup",
        components: {UploadFileComponent}
    }
</script>

<style scoped>

</style>
